{% extends "base.html" %}
{% load static %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <div class="container mt-3 mb-2">
        <div class="row mt-5">
            <h2 class="text-center col-md-12">Donner le code pour votre Recherche en détail</h2>
        </div>
        <form action="" class="mb-5 mt-5">
            <div class="row">
                <div class="col-md-2"></div>
                <input type="text" class="col-md-8" name="" placeholder="Votre code">
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-4">
                <div class="col-md-2"></div>
                <input type="submit" class="text-center col-md-8" name="" value="Rechercher">
                <div class="col-md-2"></div>
            </div>
        </form>


        <div class="row mt-5">
            <h2 class="text-center col-md-12">Donner le code pour votre Recherche en gros</h2>
        </div>
        <form action="" class="mt-5">
            <div class="row">
                <div class="col-md-2"></div>
                <input type="text" class="col-md-8" name="" placeholder="Votre code">
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-4">
                <div class="col-md-2"></div>
                <input type="submit" class="text-center col-md-8" name="" value="Rechercher">
                <div class="col-md-2"></div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}


